.Card {
  width: 100%;
  border: solid 2px var(--primary);
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  position: relative;
}

.CardId {
  position: absolute;
  left: 8px;
  top: 8px;
}

.CardFront {
  color: var(--primary);
  background-color: var(--secondary);
}

.CardBack {
  color: var(--secondary);
  background-color: var(--primary);
}
